@import "../../vars.css";

.container {
  padding: 80px 10%;
}

.grid {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 60px;
}
.sectionTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 60px;
  color: var(--color-text);
}

.heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--color-text);
}

.paragraph {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: var(--color-text);
}

/* LEFT */
.stats {
  display: flex;
  gap: 25px;
  margin: 35px 0;
}

.statBox {
  background: #f7f9fc;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 150px;
}

.statBox h3 {
  font-size: 28px;
  color: var(--color-primary);
}

.statBox p {
  font-size: 14px;
}

.info p {
  margin-bottom: 8px;
  font-size: 16px;
}

/* RIGHT */
.timeline {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 14px;
  border-left: 4px solid var(--color-primary);
}

.date {
  font-size: 14px;
  color: var(--color-primary);
  font-weight: 600;
}

.card h3 {
  margin: 10px 0;
  font-size: 20px;
}

.card p {
  font-weight: 500;
}

.card small {
  display: block;
  margin-top: 10px;
  line-height: 1.5;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .stats {
    flex-direction: column;
    align-items: flex-start;
  }
}
